// Variables 

$fontFamily1:'IBM Plex Sans', sans-serif;
$bigFont: 80px;
$mediumFont: 30px;
$smallFont: 20px; 
$smallerFont: 12px; 


// Build

html, body { 

 overflow-x: hidden; margin: 0px;

}





body {

    
    background-image: url(../images/background5.jpg);   
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed; 
    letter-spacing: 1.5px;
    font-family: $fontFamily1;
}


.nav { 

    background-color: rgb(112, 183, 245); 
    position:fixed;
    bottom: 0;
    width: 100vw;
    padding: 15px 0px 30px 0px;
    display: inline-flex; 
    justify-content: space-evenly;
    
}

.nav > a { 

    color: #5c352c;
    color: inherit; 
    text-decoration: inherit;

}

.nav > a:hover { 

    color: white;
    transition: .5s;
    
}

.sidebar-icon { 
    display: none;

}


// 
// 
// Header 
// 
// 

header { 

    color:  rgb(112, 183, 245); 
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    margin: 80px 0px 50px 0px; 

}

.promoteText {

    display: flex;
    justify-content: center;
    font-size: $mediumFont;
    
}

.courseLandText 

{ 
    display: flex;
    justify-content: center;
    font-size: $mediumFont; 

}

.devCourseText 

{ 
    display: flex;
    justify-content: center;
    font-size: $bigFont;
    margin-bottom: 30px;
    margin-top: 15px;
}

.textBreak { 

    display: flex;
    justify-content: center;
    font-size: $mediumFont; 


}


// 
// 
// Button 
// 
// 

button { 

    border-radius: 12px;
    background-color: rgb(112, 183, 245); 

}

button:hover{ 

    cursor: pointer;
    color: white; 
    transition: .5s;
}

.btnContainer { 

text-align: center;
position: initial;

}


// 
// 
// Bottom Content 
// 
// 

.bottomContent { 

    margin: 50px 0px 50px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-around;
    font-size: $smallFont;

}

.bottomContentheader{

    margin-left: 0px;
    font-size: 16px;
    color: rgb(162, 161, 161); 
    display: flex;
    align-items: center;
    justify-content: center;

}

.bottomContentSub { 

    margin-left: 10px;

}

i { 

margin: 0px 3px 0px 3px;

}

.breaker {

    border-left: 3px solid gray;
    height: 80px;
    opacity: 70%;
}






@media only screen and (max-width: 750px) {
    
    #menuList {

        color:  rgb(112, 183, 245); 
        background-color: white;
        font-size: $smallFont;
        position: initial;
        top: 0;
        width: 100vw;
        padding: 0px 5px 0px 5px;
        display: flex;
        flex-direction: column;
        align-content:  stretch;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 50px;

        overflow: hidden;
        transition: .5s;

    }

    #menuList > a { 

        color: inherit; 
        text-decoration: inherit;
    
    }
    
    #menuList > a:hover { 

        text-decoration: underline;
        transition: .8s;
        
    }
    
    #menuList > a, h1 { 
        margin: 5px 10px 5px 8px; 
    }


    .sidebar-icon { 
        display: block;
        margin: 5px 0px 0px 0px;
    }

    .sidebar-icon:hover { 

        animation: cog-rotate 6s;

    }

    @keyframes cog-rotate {

        from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(360deg);
          }

    }


    // 
    // 
    // Header
    // 
    // 



    .promoteText {

        display: flex;
        justify-content: center;
        font-size: $smallFont;
        margin-left: 20px;
    }
    
    .courseLandText 
    
    { 
        display: flex;
        justify-content: center;
        font-size: $smallFont; 
        margin-left: 20px;
    }
    
    .devCourseText 
    
    { 
        display: flex;
        justify-content: center;
        font-size: $mediumFont;
        margin-bottom: 10px;
        margin-top: 10px;
    }


    .textBreak { 

        display: flex;
        justify-content: center;
        font-size: $smallFont;
        margin-left: 20px;
       


    }
    

    // 
    // 
    // Button
    // 
    // 


    .btnContainer { 

        text-align: center;
        position: initial;
        
    }


    //
    // 
    // Bottom Content 
    // 
    // 

    .bottomContent { 

        margin: 50px 8px 50px 8px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: space-around;
        font-size: $smallFont;
    
    }

    .bottomContentheader{


        font-size: 15px;
        color: rgb(162, 161, 161); 
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    
    i { 
    
    margin: 0px 3px 0px 3px;
    
    }


    // 
    // 
    // Dropdown Menu
    // 
    // 

    // #menuList { 

    //     overflow: hidden;
    //     transition: .5s;

    // }



  }
